.profile-card__avatar {
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background-color: #000;
  object-fit: cover;
  object-position: center center;
}
